.container-people {
    display: flex;
    flex-direction: row;
}

.container-people-detail {
    display: flex;    
    flex-basis: 70%;
    border: 2px lightgreen dotted;
    padding: 10px;
}

.container-people-list {
    display: flex;
    flex-basis: 30%;
    border: 2px lightgreen dotted;
    padding: 10px;
}