.container-persons {
    display: flex;
    flex-direction: column;            
}

.container-person-list-filter {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    height: 30px;     
}

.person-list-filter-input {    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font: 14px/1.1 Helvetica, Verdana, sans-serif;    
    text-align: center;
    height: 28px;
    border: 1px darkgray solid;
    box-shadow: 1px 1px darkgrey;
    border-radius: 5px;
    color: grey;
}

.container-person-list {
    display: block;    
    height: 560px;
    overflow-y: auto;
}