<div class="container-one">
  <div class="container-1">
    <h3>Container 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
  </div>

  <div class="container-2">
    <h3>Container 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
  </div>

  <div class="container-3">
    <h3>Container 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
  </div>
</div>

<div class="container-two">
  <div class="container-extra-one">
    <h3>Container 4</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-one">
    <h3>Container 5</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-one">
    <h3>Container 6</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>
</div>

<div class="container-three">
  <div class="container-extra-three">
    <h3>Container 7</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-three">
    <h3>Container 8</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-three">
    <h3>Container 9</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-three">
    <h3>Container 10</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-three">
    <h3>Container 11</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>

  <div class="container-extra-three">
    <h3>Container 12</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>
</div>