<div class="container-header">
    <div class="container-header-sub">
        <p>[Component]</p>
        <p>Header Left</p>
      </div>
    
      <div class="container-header-sub">
        <p>[Component]</p>
        <p>Header Center</p>
      </div>
    
      <div class="container-header-sub">
        <p>[Component]</p>
        <p>Header Right</p>
      </div>
</div>

<div class="container-body">
  <div class="container-body-left">
    <ul class="main-menu">
      <li class="main-menu-item"><a href="#">Overview</a></li>
      <li class="main-menu-item"><a href="#">Apartments</a></li>
      <li class="main-menu-item"><a href="#">Building</a></li>
      <li class="main-menu-item"><a href="#">Suppliers</a></li>
      <li class="main-menu-item"><a href="#">People</a></li>
    </ul>
  </div>

  <div class="container-body-right">
    <h3>Right</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam nec elit urna. Suspendisse a erat a nibh imperdiet fermentum.
      In eleifend ultricies massa, id pretium purus convallis nec.</p>
  </div>  
</div>

<div class="container-footer">
  <div class="container-footer-sub">
    <p>[Component]</p>
    <p>Footer Left</p>
  </div>

  <div class="container-footer-sub">
    <p>[Component]</p>
    <p>Footer Center</p>
  </div>

  <div class="container-footer-sub">
    <p>[Component]</p>
    <p>Footer Right</p>
  </div>
</div>