@media(min-width: 768px) {
    .container-header {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: space-between;
        border-block-end: 2px grey dotted;
        padding: 10px;
    }
    
    .container-body {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        
        padding: 10px;
    }    

    .container-footer {
        display: flex;    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-block-start: 2px grey dotted;
        padding: 10px;    
    }    
}

.container-body-left {    
    flex-basis: 20%;    
    border: 2px blue dotted;
}

.container-body-right {
    flex-basis: 70%;
    padding-left: 10px;
}

.container-footer-sub, .container-header-sub {
    flex-basis: 30%;
    border: 2px lightpink dotted;
    padding: 10px;    
}
